@import url(styles/header.css);
:root {
    --cor-de-fundo:#073b58;
    --cor-cabecalho:rgb(1, 14, 51);

}
body { 
    background-color: var(--cor-de-fundo);
    margin: 0%;
    padding: 0%;
}